#loginForm {
    background-color: #fff;
    width: 50%;
    max-width: 1000px;
    border: 1px solid #0B5ED7;
    box-shadow: 0 4px 8px rgba(0, 114, 229, 0.3), 0 8px 16px rgba(0, 114, 229, 0.2);
}

#loginForm .container {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

#loginForm .container #loginFormHead {
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem 0rem;
   color: #0B5ED7;
   font-size: 2rem;
}

#loginForm .container .formGroup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#loginForm .container .formGroup .loginLabel {
    width: 25%;
    background-color: #0B5ED7;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: #fff;
    transition: .5s;
}
#loginForm .container .formGroup .loginLabel:hover {
    background-color: #fff;
    color: #0B5ED7;
    box-shadow: 0 8px 16px rgba(0, 114, 229, 0.3), 0 8px 16px rgba(0, 114, 229, 0.2);
    cursor: pointer;
}
#loginForm .container .formGroup .loginInput {
    width: 70%;
    border: 1px solid gray;
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    color: gray;
}
#loginForm .container .formGroup .loginInput:hover {
    border: 1px solid #0B5ED7;
    box-shadow: 0 4px 8px rgba(0, 114, 229, 0.3), 0 8px 16px rgba(0, 114, 229, 0.2);
    cursor: pointer;
}

#loginForm .container .buttonGroup {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5rem;
}

#loginForm .container .buttonGroup button {
    width: 25%;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: .5s;
    border: 1px solid #fff;
}
#loginForm .container .buttonGroup #resetButton {
    background-color: #DC3545;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
#loginForm .container .buttonGroup #resetButton:hover {
    color: #DC3545;
    border: 1px solid #DC3545;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(220, 53, 69, 0.3), 0 8px 16px rgba(220, 53, 69, 0.2);
}

#loginForm .container .buttonGroup #loginButton {
    background-color: #198754;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}
#loginForm .container .buttonGroup #loginButton:hover {
    color: #198754;
    border: 1px solid #198754;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(25, 135, 84, 0.3), 0 8px 16px rgba(25, 135, 84, 0.2);
}

#loginForm .container .errorGroup {
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
}
#loginForm .container .errorGroup .errorItem {
    border-radius: .5rem;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #DC3545;
    letter-spacing: 0.2rem;
}
.registrationPrompt {
    margin-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
  }
  
  .registrationPrompt a {
    color: #0B5ED7;
    text-decoration: none;
    font-weight: bold;
  }
  
  .registrationPrompt a:hover {
    text-decoration: underline;
  }
  